<Doctype!>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <main>
                <div>
                    <h1>Are you sure?</h1>
                    <form method="POST">
                        {% csrf_token %}
                        
                        <button>Delete</button>
                </div>
            </main>

        </body>
    </html>
