<Doctype!>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <main>
                <div>
                    <h1>{{todo_detail.name}}</h1>
                    <p><a href="{% url 'todo_list_update' todo_detail.id %}">Edit<a/></p>
                    <p><a href="{% url 'todo_list_delete' todo_detail.id %}">Delete<a/></p>
                    <h2>Tasks</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Due date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for items in todo_detail.items.all %}
                            <tr>
                                <td><a href="{% url 'todo_item_update' items.id %}">{{items.task}}</a></td>
                                <td>{{items.due_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </body>
    </html>
