<Doctype!>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <main>
                <div>
                    <h1>Update list</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Create</button>
                </div>
            </main>

        </body>
    </html>
