<Doctype!>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <main>
                <div>
                    <h1>My Lists</h1>
                    <a href="{% url 'new_todo_list' %}"><button>Create a new list</button></a>
                    <a href="{% url 'todo_item_create' %}"><button>Create a new item</button></a>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of items</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in todo_object.all %}
                            <tr>
                                <td><a href="{% url 'todo_list_detail' list.id %}">{{list.name}}</a></td>
                                <td>{{list.items.all|length}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </body>
    </html>
